h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
}

body {
    /* font-family: Roboto; */
}

/* Reviews */

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    max-width: 375px;
}

.reviews {
    display: flex;
    background-color: brown;
    border: 1px coral;
}